### Tuple

A tuple in python is similar to a list. the difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created 

#### characteristic
- ordered
- Unchangable
- Allow duplicates

#### Plan of attack 
- creating a tuples
- Assessing items
- Editing items
- Adding items
- Deleting items
- operations on tuples
- Tuple function

### Creating a tuple

In [4]:
# empty tuple
t1 = ()

# tuple with single item 
t2 = (2,)

# homogenous tuples
t3 = (1,2,4,5,6)

# hetrogenous tuple 
t4 = (1,2,3,4,True,[1,2,3])

# tuple inside tuple 
t5 = (1,2,3,(1,2,3,))

# type conversion 
t6 = tuple("hello")

### Access items
- Indexing
- slicing

In [5]:
print(t3)

(1, 2, 4, 5, 6)

In [6]:
print(t3[0])

1

In [7]:
print(t3[10])

IndexError: tuple index out of range

In [8]:
print(t3[:4])

(1, 2, 4, 5)

In [9]:
print(t3[::2])

(1, 4, 6)

### Editing items 
- A tuple cant be editied once it is created because it is immutable so we cant add or delete tuple

### Delete tuple
- we can delete whole tuple but not a single part of it

In [10]:
t1 = (1,2,3)
del t1

### Operations on tuples

In [11]:
# addition operation

t1 = (1,2,3,4)
t2 = (5,6,7,8)

print(t1 + t2)

(1, 2, 3, 4, 5, 6, 7, 8)

In [12]:
# multiplication 
print(t1 * 3)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [13]:
# membership operation 
1 in t1

True

In [17]:
# loops 
for i in t1:
    print(t1[i-1])

1
2
3
4

### Tuple function

In [19]:
t = (1,2,3,4)

# len function 
len(t)

4

In [20]:
# sum 
sum(t)

10

In [21]:
# min 
min(t)

1

In [22]:
# max 
max(t)

4

In [23]:
# sorted(tuple, reverse=true/false)
sorted(t)

[1, 2, 3, 4]

In [24]:
# count
t.count(5)

0

In [27]:
# index
t.index(1)

0

### Difference between tuples and Lists
- Syntax
- Mutability
- speed
- Memory
- Built-in functionality
- Error prone
- Usability

### Specia syntax

In [28]:
# tuple unpacking
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [29]:
a,b,*iota = (1,2,3,4)
a

1

In [30]:
# zipping 
t1 = (1,2,3,4)
t2 = (5,6,7,8)

tuple(zip(t1,t2))

((1, 5), (2, 6), (3, 7), (4, 8))

### Sets

A set is an unordered collection of items. Every set element is unique contains no duplicates and must be immutable cannot be changed. However, a set itself is immutable. We can add or remeove items from it 

sets can also be used to perform mathematical set operation like Union, Intersection, Symmetric difference, etc. 

characteristics: 

- unordered 
- mutable
- No Duplicates
- Cant contains mutable datatypes

### Creating sets

In [2]:
# empty set 
s = set()

# 1-dim set -> we cannot create 2dim sets in the set
s = {1,2,3}

In [3]:
s = {1,2,3}
s2 = {3,2,1}

s == s2

True

### Adding items

In [6]:
s = {1,2,3,4}

# add 
s.add(5)
print(s)

# update 
s.update([6,7,8])
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}

### Deleting items

In [5]:
# del

del s

In [7]:
# discard 

s.discard(5)

In [11]:
# remove

s.remove(6)

In [13]:
# pop

s.pop()

2

In [14]:
# clear

s.clear()

### Set operations

In [40]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

In [41]:
# union operations -> will print unique element of both sets 
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [42]:
# intersection operation -> will print unique element of both sets 
s1 & s2

{4, 5}

In [43]:
# Difference -> s1 ke wo element jo s2 mein nhi hai 
s1 - s2

{1, 2, 3}

In [44]:
# symmetric difference 
s1 ^ s2

{1, 2, 3, 6, 7, 8}

In [45]:
# membership test 
1 in s2

False

In [46]:
# loops 
for i in s1:
    print(i)

1
2
3
4
5

### Sets functions

In [47]:
# len/ min/ max/ sorted / sum 
print(len(s1))

print(min(s1))

print(max(s1))

print(sorted(s1,reverse=True))

print(sum(s1))

5
1
5
[5, 4, 3, 2, 1]
15

In [48]:
# union/ update
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [49]:
# intersection/ intersection_update
s1.intersection(s2)

{4, 5}

In [52]:
# difference / difference_update
s1.difference(s2)

set()

In [53]:
# symmetric_difference/ symmetric_difference_update
s1.symmetric_difference(s2)

{6, 7, 8}

In [56]:
# isdisjoint
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.isdisjoint(s2)

False

In [57]:
# issubset

s1.issubset(s2)

False

In [58]:
# issuperset
s1.issubset(s2)

False

In [59]:
s3 = s1.copy()

In [60]:
s3

{1, 2, 3, 4, 5}

### Frozenset
Frozen set is just an immutable version of a python set object

In [61]:
# create 
fs = frozenset([1,2,3])
fs

frozenset({1, 2, 3})

### Set Comprehension

In [62]:
{i for i in range(1,11)}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Dictionary 

Dictinary in python is a collection of keys values, used to store data values like a map, which unlike other data types which hold only a single values as an element

In some language it is known as map or associative arrays.

dict = {'name','suraj'}

characteristic:

- mutable
- indexing has no meaning
- keys cant be duplicated
- keys cant be mutable items

### Create Dictionary

In [1]:
# create empty dictionary

d = {}

# 1dim dictionary
d ={'name':'suraj'}

# 2dim dictionary
d = {'name':'suraj',
     'course':{'sub1':'hindi',
               'sub2':'english',
              }
    }

# using dict function 
d = dict([(1,2),(3,4)])

### Accessing items

In [2]:
my_dict = {'name':'suraj','age':16}
my_dict.get('name')

'suraj'

In [3]:
my_dict.get('name')

'suraj'

### Adding items

In [4]:
my_dict['sub'] = 'hindi'

In [5]:
my_dict

{'name': 'suraj', 'age': 16, 'sub': 'hindi'}

### remove key-value pair

In [7]:
del my_dict['name']

In [11]:
# pop 
my_dict.pop('age')

16

In [12]:
my_dict

{'sub': 'hindi'}

In [14]:
my_dict.popitem()

('sub', 'hindi')

In [15]:
my_dict.clear

In [18]:
my_dict['sub'] = 'english'

### Dictionary Operations
- Membership Operations
- iterations

In [25]:
my_dict = {'name':'nitish','age':20}

'nitish' in my_dict

False

In [26]:
for i in my_dict:
    print(i, my_dict[i])

name nitish
age 20

### Dictionary Functions

In [27]:
len(my_dict)

2

In [28]:
sorted(my_dict)

['age', 'name']

In [29]:
# items
d.items()

dict_items([(1, 2), (3, 4)])

In [30]:
# keys
d.keys()

dict_keys([1, 3])

In [33]:
# values
d.values()

dict_values([2, 4])

### Dictionary comprehension

In [34]:
# print 1st 10 numbers and their squares
{i:i for i in range(1,11)}

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10}